<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
            color: #fff;
            background-color: #000;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign up</h1>
    <form action="/user" method="post">
        <label for="username">Full name</label>
        <input type="text" required id="username" name="name">
        <label for="email">Email</label>
        <input type="email" required id="email" name="email">
        <label for="password">Password</label>
        <input type="password" required id="password" name="password">
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>